.title{
	
	line-height: 25px;
	color: #434248;
	font-size: 16px;
	padding: 0px 20px 4px 20px;
    display: block;
}

.table .inputInfo{
	width: 90%;
	display: block;
	margin: 9px 9px;
}

.table {
	border: 1px solid #ececec;
	width: 100%;
}
.table td {
	width: 33.3%;
	border-right: 1px solid #ececec;
}

.title .icon {
    width: 21px;
    line-height: 21px;
    border: 1px solid #434248;
    border-radius: 14px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-right: 7px;
}

.table .title {
    line-height: 25px;
    color: #434248;
    font-size: 16px;
    padding: 20px 20px 4px 20px;
}

.table .content {
	margin: 10px 0px;
    color: #434248;
}

.produce .detail{
    min-width: 100%;
    padding-bottom: 7px;
}

.produce_info {
    display: inline-block;
    min-width: 290px;
}

.produce_info .amount {
    display: inline-block;
    float: right;
}

.table_order {
    border: 0px;
    width: 100%;
}

.table_order .type {
    width: 70%;
}

.table_order .value span {
    float: right;
}

.note_order {
    width: 95%;
    margin-top: 8px;
}

.button_order {
    width: 95%;
    color: white;
    margin: auto;
    display: block;
    height: 40px;
    background-color: #f74f00;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

#paypal-button {
    display: none;
}