
<div class="row">
    <!-- catalog bên trái -->
    <div class="col-xs-3">
        <%= render partial:"users/show"%>
    </div>
    <div class="col-xs-9">
    	<%= render 'list_image'%>
    </div>
</div>