<div class="row card" style="margin-left: 150px; margin-right: 150px;">
  <div class="container" style="margin-bottom: -10px; padding-top: 25px;">
      <div class="col-sm-1">
        <div class="text-xs-center"><img src="<%= user.avatar%>" class="img-circle" width="50" height="50"></div>
      </div>
      <div class="col-sm-11">
        <div ><%= user.username %></div>
        <div ><%= user.name %></div>
        <p class="pull-xs-right" style="margin-right: 5px; margin-bottom: 5px;">
          <%= link_to 'Info', user, class: 'btn btn-success', style: 'padding: 2px 10px;' %>
        </p>
      </div> 
  </div>
</div>
